/* Primary Styles */
.medium-roboto{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;   
}
.header{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.header-title{
    color: rgb(18, 21, 66);
}
.focus-color{
    background-color: #DCDCDC;
}
button{
    background-color: #59A5FF;
    border: 0px;
    color: white;
    padding: 8px 30px;
}
/* Left card styles */
.card-left{
    width: max-content;
}
/* Right card styles */
.card-right{
    width: 50%;
    background-color: rgba(248, 248, 248, 1);
}

.save-money-input{
   width: 20%;
}